<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FIXME: Add bootstrap styling as a vendor'd resource -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet" type="text/css">

  </head>
<body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
</body>
</html>
