{% extends "base.html" %}

{% block content %}
  <form class="form-horizontal" role="form" action="{{ endpoint }}" method="post">

    <div class="form-group">
        <label for="inputEmail">Enter your email address:</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
    </div>

    <div class="row">
      <div class="col-sm-offset-5 col-sm-3">
        <button type="submit" class="btn btn-default btn-block">Submit</button>
      </div>
    </div>

    <!-- Thread parameters from initial /api/auth/ request through -->
    <input type=hidden name=query value="{{ query }}">

  </form>
{% endblock %}
