{% extends "base.html" %}
{% block content %}
    <h1>Requested Session Token for the ams.fsfe.org</h1>
    <p> Please click on the following link: <a href="{{ url }}">Log me in!</a> </p>
    <p>If you didn't request it, ignore it. Or get suspicious.</p>
{% endblock %}
