{% extends "base.html" %}

{% block content %}
  <form class="form-horizontal" role="form" action="{{ endpoint }}" method="post">

    <div class="form-group">
      <div class="col-sm-3">
        <label for="inputUserName3" class="control-label">User name</label>
      </div>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputUserName3" placeholder="User name">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label for="inputPassword3" class="control-label">Password</label>
      </div>
      <div class="col-sm-9">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>

      <!-- FIXME: Add a correct HREF attribute back to the ams-frontend -->
      <div class="col-sm-offset-3 col-sm-9">
        <a href='forgotten-pw.html'>Forgot your password?</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-9 col-sm-3">
        <button type="submit" class="btn btn-default btn-block">Sign in</button>
      </div>
    </div>

    <!-- Thread parameters from initial /api/auth/ request through -->
    <input type=hidden name=query value="{{ query }}">

  </form>
{% endblock %}
